<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/melih/IdeaProjects/RestAssured3-master/RestAssured3-master/src/test/java/Campus"><classes><class name="Campus.CountryTest"><methods><include name="createCountry"/><include name="createCountryNegative"/><include name="updateCountry"/><include name="deleteCountryById"/><include name="deleteCountryByIdNegative"/><include name="updateCountryNegative"/></methods></class></classes></test></suite>